html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: radial-gradient(circle at 50% 0%,#F8D5C6, #2E537C);
    background-size: cover;
    color: #E0E0E0;
}

.main-container {
    background: rgba(147, 148, 161, 0.57);
    padding: 20px;
    border-radius: 10px;
}
.input-bg {
    background: rgba(147, 148, 161, 0.57);
}

.font-1{
    font-weight: bold;
}

.font-2{
    color: #797373;
    text-align: center;
}